<div class="wrapper">
    <h1 class="text-center">Frases</h1>
    <div class="row">
        <div class="column">
            <mat-card>
                <app-quote-random
                    [quoteModel]="quoteModel"
                    [disabledRandomButton]="disabledRandomButton"
                    (randomEvent)="generateRandomQuote()">
                </app-quote-random>
            </mat-card>
        </div>
        <div class="column">
            <mat-card>
                <app-quote-list
                    [dataSource]="dataSource"
                    [displayedColumns]="displayedColumns"
                    (quoteViewEvent)="getQuote($event)"
                    (quoteDeleteEvent)="deleteQuote($event)">
                </app-quote-list>
            </mat-card>
        </div>
    </div>
</div>