<div class="wrapper">
    <h1 class="text-center">Quotes</h1>
    <div class="row">
        <div class="column">
            <mat-card>
                <app-quote-random (randomEvent)="generateRandomQuote()" [quoteModel]="quoteModel"></app-quote-random>
            </mat-card>
        </div>
        <div class="column">
            <mat-card>
                <app-quote-list
                    [dataSource]="dataSource"
                    [displayedColumns]="displayedColumns"
                    (quoteViewEvent)="viewQuote($event)"
                    (quoteDeleteEvent)="deleteQuote($event)">
                </app-quote-list>
            </mat-card>
        </div>
    </div>
</div>